
.projects-container{
    position: relative;
    height: 100%;
    width: 100%;
}
.projects-container h1{
    margin-bottom: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: rgb(255, 255, 255);
    font-size: 20vw;
    z-index: -1;
    display: flex;
    justify-content: center;
}
.box {
    position: relative;
    width: 85svh;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(1900px);
    transition: all 1.5s;
}
.center-text{
    font-size: 10svw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px #919191;
    pointer-events: none;
}
.box2 {
    position: relative;
    width: 80svw;
    height: 20svh;
    transform-style: preserve-3d;
    transform: perspective(200px);
    transition: all 1.5s;
}
.proj {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 60deg)) translateZ(650px);
}
 
.projM{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i) * 60deg)) translateZ(190px);
}
 
.spinning-img-container{
    display: grid;
    width: 100%;
    overflow: hidden;
    gap: 20px;
}
.spinning-img{
    height: 100%;
    animation: spin-up-down 15s linear infinite;
}
.project-box2,
.project-box1{
    padding: 0px 6svw;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.project{
    display: grid;
    background: rgba(31, 31, 31, 0.943);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    
}
.project1{
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.651);
}
.project-description{
    font-size: 0.7em;
    padding: 1svw;
}
.atag{
    font-size: 10px;
}
.extra-details-btn{
    height: 20px;
    display: flex;
    justify-content: end;
}
.project-p{
    z-index: 1;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;  /* Just below the popup */
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    padding: 10px;
    border: black 5px solid;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    z-index: 9999;
}


.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;  /* Just below the popup */
}

@keyframes spin-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-330%);
  }
}
